#main .nav-pills > li.active > a,
#main .nav-pills > li.active > a:hover,
#main .nav-pills > li.active > a:focus {
  background-color: #6f8faf;
}

#main .nav-pills > li > a:hover {
  background-color: #6f8faf;
}

h1,
h2,
h3,
h4,
h5,
h6,
legend {
  color: #6f8faf;
}

#sidebar h2 {
  background-color: #6f8faf;
}

#sidebar {
  background-color: #929292;
}
#postamble {
  border-top: solid 10px #6f8faf;
}

a:hover {
  color: #929292;
}

a:visited {
  color: #929292;
}
